<div class="container">
    <div style="margin: 150px 0 0 0;">
        <h2 class="text-center"> Increase The Number Product </h2>
        <a class="dropdown-item text-dark text-center" asp-action="AddStock"><h4>Click To Add</h4></a>
        <br /><br />
        <a class="dropdown-item text-dark text-center" asp-controller="AddCactus" asp-action="Index">Record <i class="bi bi-arrow-90deg-right"></i></a>
    </div>
</div>

