@model IEnumerable<Category>

<div style="background-color: #FFFFFF">
    <div class="row btn-light disabled p-2">
        <div class="col-6"><h4>Category list</h4></div>
        <div class="col-6 text-end">
            <a class="btn btn-info text-white" asp-action="CreateAndUpdate">Create Category</a>
        </div>
    </div>
    <table class="table table-hover" id="example1">
        <thead class="table-primary">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreateDate</th>
                <th>Update | Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.CreatedDateTime</td>
                    <td>
                        <a class="btn btn-warning" asp-action="CreateAndUpdate" asp-route-id=@item.Id><i class="bi bi-pencil-fill"></i></a>
                        <a class="btn btn-danger" asp-action="Delete" onclick="return confirm('Are you sure')" asp-route-id=@item.Id><i class="bi bi-x"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
