<div> 
    <div>
        <div class="slideshow-container">

            <div class="mySlides fade">
              <div class="numbertext text-dark">1 / 3</div>
              <img src="~/imgss/1.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
              <div class="numbertext text-dark">2 / 3</div>
              <img src="~/imgss/2.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
              <div class="numbertext text-dark">3 / 3</div>
              <img src="~/imgss/3.jpg" style="width:100%">
            </div>
        </div>
        <br>

        <div style="text-align:center">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div>
    </div>

<!-- Features -->
        <div class="container mt-5">
            <div class="banner-end">
                <div class="row align-items-md-center">
                <div class="col-md-6 order-md-2">
                    <div class="p-5 p-md-7">
                    <!-- Heading -->
                    <div class="mb-7">
                        <span class="text-cap">About us</span>
                        <h3>เสน่ห์ไม้หนาม แคคตัส (Cactus) หรือกระบองเพชร</h3>
                        <p>การกลับมาระบาดของโควิดระรอก 2  มันช่างเป็นการดับฝันของใครหลายคน แต่ก็อย่าเพิ่งเซ็งกันค่ะ เราเคยผ่านวิกฤตนี้มาได้ และไลฟ์สไตล์หลายอย่างเปลี่ยนไป เข้าสู่ New Normal หรือความปกติใหม่ ชีวิตวิถีใหม่ ช่วงนี้ก็กลับมาเข้มงวดกับตัวเองกันอีกครั้งนะคะ สำหรับใครที่อยู่บ้านหรือ work from home  คลีน เท็กซ์ชวนมาปลูกต้นไม้กัน หนึ่งในต้นไม้ที่ดูแลง่ายนั่นก็คือ แคคตัส (Cactus) หรือกระบองเพชร ค่ะ

มีความเชื่อว่า ให้ปลูกแคคตัสวันเสาร์ ทางทิศตะวันตก เพื่อโชคลาภ และเป็นสิริมงคล มีความแข็งแรง

สำหรับนิสัยคนที่ชอบแคคตัสมักเป็นคนอารมณ์อ่อนไหว มีอารมณ์ศิลปินสูง ชอบความเรียบง่าย จิตใจเอื้ออารี สนุกสนาน เฮฮา แต่มักไม่แสดงออก

เจ้าต้นไม้มีหนามนี้ เป็นพืชพื้นเมืองที่มีแหล่งกำเนิดในทะเลทราย ส่วนมากในทวีปอเมริกาใต้ ก่อนจะแพร่กระจายเข้าสู่แอฟริกา เป็นต้นไม้ยืนต้นที่นิยมปลูกประดับในอาคารหรือที่โล่งแจ้ง ทนต่อความแห้งแล้งได้ดี สามารถปลูกได้ในทุกดิน และวางประดับได้ในทุกสถานที่  โดยต้นแคคตัสจะเก็บน้ำไว้ในลำต้นเป็นจำนวนมาก มันจะใช้น้ำตลอดระยะเวลาแห้งแล้งที่ยาวนาน และมันจะเปลี่ยนใบเป็นหนามเพื่อลดการคายน้ำแต่คงยังคายน้ำอยู่ สกุลของแคคตัสมีมากกว่า 127 สกุล</p>
                    </div>
                </div>
                </div>
                <!-- End Col -->

                <div class="col-md-6 content-space-md-1">
                    <div class="w-85 w-md-100 mx-auto me-md-auto">
                    <img class="img-fluid" src="~/imgss/5.jpg" alt="Image Description">
                    </div>
                </div>
                <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
        </div>
        <!-- End Features -->

<!-- Features -->
      <div class="container mt-4">
        <div class="banner-start">
          <div class="row align-items-md-center">
            <div class="col-md-6">
              <div class="p-5 p-md-7">
                <!-- Heading -->
                <div class="mb-7">
                  <span class="text-cap">Guidelines</span>
                  <h3>วิธีเลี้ยงแคคตัส</h3>
                  <p>แม้ว่าต้นกระบองเพชรจะเป็นพืชที่ทนต่อสภาพอากาศที่หลากหลาย และไม่จำเป็นต้องรดน้ำหรือให้ปุ๋ยบ่อย แต่การจะเลี้ยงแคคตัสให้เจริญเติบโต แข็งแรง มีดอกให้ได้ชม ต้องมีการสังเกตลักษณะของต้นด้วย การเลี้ยงเบื้องต้นควรดูเรื่องน้ำ อากาศ ดิน และแสงแดด</p>
                  
                    <h3>1.การให้น้ำ</h3>
                    <p>แม้แคคตัสจะทนแล้งได้ดี แต่ก็ใช่ว่าจะไม่ต้องการน้ำเลย การรดน้ำต้นแคคตัส แนะนำให้นำกระถางไปใส่ไว้ในกะละมังที่มีน้ำ เพื่อให้ดินและรากค่อย ๆ ดูดความชื้นเก็บไว้ โดยตั้งทิ้งไว้ประมาณ 1 ชั่วโมงก่อนนำกระถางออก แนะนำให้ทำทุก ๆ 3 วัน</p>
                     <h3>2.แสงแดด</h3>
                    <p>ต้นกระบองเพชรชอบแดดจัด แต่แดดในเมืองไทยก็ถือว่าแรงเกินไปสำหรับต้นกระบองเพชรบางชนิด จนทำให้อาจเกิดอาการด่างแดดได้ ดังนั้นใครที่ปลูกไว้นอกบ้าน ควรปลูกให้โดนแดดประมาณ 80 เปอรเซ็นต์ หรือหากปลูกในบ้าน ให้สลับเอาออกไปตากแดด เพราะหากได้แดดไม่เพียงพอ ต้นจะโน้มหาแสง ทำให้ผิดรูปได้</p>
                     <h3>3.อากาศ</h3>
                    <p>ต้นกระบองเพชรสามารถอยู่ในที่อากาศร้อนจัดและเย็นจัดได้ ขึ้นอยู่กับแต่ละสายพันธุ์ แต่ควรตั้งไว้ในที่อากาศถ่ายเทได้สะดวก ไม่อับเกินไป</p>
                     <h3>4.การให้ปุ๋ย</h3>
                    <p>ปุ๋ยที่เหมาะกับการให้ต้นกระบองเพชร หากต้องการให้ออกดอกดี แนะนำให้ใช้ปุ๋ยที่มี Phosphorus (P) สูง แนะนำให้ใช้เป็นปุ๋ยละลายน้ำจะดีที่สุด</p>
                </div>
              </div>
            </div>
            <!-- End Col -->

            <div class="col-md-6 content-space-md-1">
              <div class="w-85 w-md-100 mx-auto me-md-auto">
                <img class="img-fluid" src="~/imgss/7.jpg" alt="Image Description">
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>
      <!-- End Features -->
</div>